# Maintainer: Leandro Michelino | ACE | leandro.michelino@oracle.com
tenancy_ocid       = "ocid1.tenancy.oc1..example"
current_user_ocid  = "ocid1.user.oc1..example"
region             = "eu-frankfurt-1"
home_region        = "eu-frankfurt-1"

org         = "acme"
environment = "uat"
region_key  = "fra"
hub_vcn_cidr  = "10.20.0.0/16"
hub_dmz_cidr  = "10.20.0.0/24"
hub_fw_cidr   = "10.20.1.0/24"
hub_mgmt_cidr = "10.20.2.0/24"

cloud_guard_enabled      = true
security_zones_enabled   = true
vss_enabled              = true
bastion_enabled          = true
network_firewall_enabled = true

enable_budgets        = true
default_budget_amount = 15000
default_budget_alert_recipients = [
  "platform-alerts@example.com"
]
enable_events = true
event_subscriptions = {
  platform_email = {
    protocol = "EMAIL"
    endpoint = "platform-alerts@example.com"
  }
}
log_retention_days = 90

defined_tags = {
  "acme-tags.Environment" = "uat"
  "acme-tags.ManagedBy"   = "terraform"
  "acme-tags.Owner"       = "platform-team"
  "acme-tags.Project"     = "landingzone"
}

freeform_tags = {}
