# Maintainer: Leandro Michelino | ACE | leandro.michelino@oracle.com
tenancy_ocid      = "ocid1.tenancy.oc1..example"
current_user_ocid = "ocid1.user.oc1..example"
region            = "eu-frankfurt-1"
home_region       = "eu-frankfurt-1"
# oci_config_profile = "DEFAULT"
# parent_compartment_ocid = "ocid1.compartment.oc1..example"

org         = "acme"
environment = "prod"
region_key  = "fra"

defined_tags = {
  "acme-tags.Environment" = "prod"
  "acme-tags.ManagedBy"   = "terraform"
  "acme-tags.Owner"       = "platform-team"
  "acme-tags.Project"     = "landingzone"
  "acme-tags.Compliance"  = "cis-level2"
}

freeform_tags = {}
