# Maintainer: Leandro Michelino | ACE | leandro.michelino@oracle.com
tenancy_ocid       = "ocid1.tenancy.oc1..example"
current_user_ocid  = "ocid1.user.oc1..example"
region             = "eu-frankfurt-1"
home_region        = "eu-frankfurt-1"

org         = "acme"
environment = "prod"
region_key  = "fra"
cloud_guard_enabled      = true
security_zones_enabled   = false
vss_enabled              = true

# Enable only after approving the Security Zone recipe for this environment.
# default_security_zone_recipe_id = "ocid1.securityzonesrecipe.oc1..example"

enable_budgets        = true
default_budget_amount = 50000
default_budget_alert_recipients = [
  "platform-alerts@example.com"
]
enable_events = true
event_subscriptions = {
  platform_email = {
    protocol = "EMAIL"
    endpoint = "platform-alerts@example.com"
  }
}
defined_tags = {
  "acme-tags.Environment" = "prod"
  "acme-tags.ManagedBy"   = "terraform"
  "acme-tags.Owner"       = "platform-team"
  "acme-tags.Project"     = "landingzone"
}

freeform_tags = {}
