# Maintainer: Leandro Michelino | ACE | leandro.michelino@oracle.com
tenancy_ocid      = "ocid1.tenancy.oc1..example"
current_user_ocid = "ocid1.user.oc1..example"
region            = "us-ashburn-1"
home_region       = "us-ashburn-1"
org               = "acme"
environment       = "dev"
region_key        = "iad"

create_cluster         = false
create_snapshot_bucket = false

vcn_id    = "ocid1.vcn.oc1..example"
subnet_id = "ocid1.subnet.oc1..example"
nsg_id    = "ocid1.networksecuritygroup.oc1..example"

policy_statements = []
