# Maintainer: Leandro Michelino | ACE | leandro.michelino@oracle.com
tenancy_ocid       = "ocid1.tenancy.oc1..example"
current_user_ocid  = "ocid1.user.oc1..example"
region             = "eu-frankfurt-1"
home_region        = "eu-frankfurt-1"
oci_config_profile = "DEFAULT"

org         = "acme"
environment = "dev"
region_key  = "fra"

compartment_ocid = "ocid1.compartment.oc1..example"

create_report_bucket      = false
create_topic              = false
create_cloud_guard_target = false
create_host_scan_recipe   = false
create_host_scan_target   = false

detector_recipe_ids  = []
responder_recipe_ids = []
event_rules          = {}
alarms               = {}

policy_statements = []
