# Maintainer: Leandro Michelino | ACE | leandro.michelino@oracle.com
tenancy_ocid      = "ocid1.tenancy.oc1..example"
current_user_ocid = "ocid1.user.oc1..example"
region            = "eu-frankfurt-1"
home_region       = "eu-frankfurt-1"
# oci_config_profile = "DEFAULT"

# Optional. Defaults to tenancy_ocid when omitted.
# compartment_ocid = "ocid1.compartment.oc1..example"

org         = "acme"
environment = "dev"
region_key  = "fra"
vcn_label   = "private"

vcn_cidr_block     = "10.20.0.0/16"
enable_nat_gateway = false
defined_tags = {
  "acme-tags.Environment" = "dev"
  "acme-tags.ManagedBy"   = "terraform"
  "acme-tags.Owner"       = "platform-team"
  "acme-tags.Project"     = "landingzone"
}

freeform_tags = {}
