# Maintainer: Leandro Michelino | ACE | leandro.michelino@oracle.com
tenancy_ocid      = "ocid1.tenancy.oc1..example"
current_user_ocid = "ocid1.user.oc1..example"
region            = "eu-frankfurt-1"
home_region       = "eu-frankfurt-1"
org               = "acme"
environment       = "dev"
region_key        = "fra"
compartment_ocid  = "ocid1.compartment.oc1..example"

guardrail_policy_statements     = []
enable_budget                   = false
budget_amount                   = 1000
enable_data_safe_target_database = false
defined_tags  = {}
freeform_tags = {}
